!**/src/main/**
!**/src/test/**

### Gradle ###
.gradle/
build/
out/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Java ###
*.class
*.jar
*.war
*.ear

### Temp ###
*.swp
*~